.bg-container{
    background-size: cover;
    padding: 0%;
    margin: 0%;
    border: #a89f9e solid 1px;
}

.container{
    background-size: cover;
}

@media (min-width:767px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.link-container{
    display: flex;
    justify-content: flex-end;
    margin: 4%;
}

.kratin-website{
    font-size: 15px;
    color: #a89f9e;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}
.main-page{
    margin-left: 8%;
    margin-right: 8%;
}

.main-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #1b2129;
}

.logo{
    height: 60px;
}

.innov {
    color: #2d63a6;
    font-weight: bold;
}

.hr-line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: #33bd4a solid 3px;
    display: inline-block;
    width: 30%;
}

hr {
    border: #33bd4a solid 3px;
    width:30%;
}

.profile-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #1b2129;
}

.lady-image{
    height: 140px;
    width: 130px;
    border-radius: 3px;
    margin-right: 10px;
}

.profile-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.image-description-container{
    display: flex;

}

.descript {
    color: #33bd4a;
    font-weight: 700;
}

.efforts-description{
    margin-left: 10px;
    color: #191970;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.activity-heading{
    color: #191970;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.activity-container{
    display: flex;   
}
.activity{
    flex-shrink: 0;
    width: 33%;
}
.activity-term{
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #191970;
    padding: 4px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    border:white solid 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
.activity-points{
    list-style-type: style typr;
    font-family: Arial, Helvetica, sans-serif;
    border: #8a8281 solid 1px;
    padding: 3px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.line{
    border: #8a8281 solid 2px;
    width: 20%;
    display: inline-block;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.process-points{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    margin: 3px;
    padding: 3px;
}
.process{
    width: 85%;
}